<div fxFill fxLayout="column">
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="toolbar-row">
      <button type="button" aria-label="Go Back" mat-icon-button (click)="goBack()" matTooltip="Go Back">
        <mat-icon aria-label="Go Back">arrow_back</mat-icon>
      </button>
      <span>Privacy Policy</span>
    </div>
  </mat-toolbar>

  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="text-content">
    <p>We don’t store any of your data. All data is stored in your local browser and (optionally) your cloud storage account.</p>
  </div>