<ng-container *ngIf="dataLoaded">
  <app-top-toolbar pageTitle="Dashboard">
    <div>
      <app-refresh-quotes-button></app-refresh-quotes-button>
      <app-notifications-button></app-notifications-button>
      <button type="button" aria-label="Display settings" mat-icon-button matTooltip="Display settings"
        (click)="changeDisplaySettings()">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </app-top-toolbar>
  <div class="page-content">
    <mat-grid-list [responsiveCols]="{xs: 1, sm: 1, md: 2, lg: 2, xl: 2}" (colsChanged)="gridColsChanged($event)"
      [rowHeight]="mainGridRowHeight">
      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Stats]">
        <mat-card class="grid-card">
          <mat-card-title>Stats</mat-card-title>

          <mat-card-content>
            <div>
              Portfolio value:
              <span [ngClass]="{'negative':portfolioValue < 0}">{{ portfolioValue | currency:baseCurrency}}</span>
            </div>

            <div *ngIf="liabilitiesValue">
              Assets value:
              <span [ngClass]="{'negative':assetsValue < 0}">{{ assetsValue | currency:baseCurrency}}</span>
            </div>

            <div>Unrealized P/L:
              <span [ngClass]="(portfolioUnrealizedPL < 0)? 'negative':'positive'">
                {{ portfolioUnrealizedPL | currency:baseCurrency}}
                <ng-container *ngIf="portfolioValue > 0">
                  ({{ portfolioUnrealizedPL / portfolioValue  | percent:'1.02'}})
                </ng-container>
              </span>
            </div>

            <div>
              <span matTooltip="Based on Yearly Withdrawal Rate">Monthly spending limit:
                <span [ngClass]="{'negative':monthlySpendLimit < 0}">
                  {{ monthlySpendLimit | currency:baseCurrency}}
                </span>
              </span>
            </div>

            <div>Allocation: </div>
            <ul class="allocation-list">
              <li *ngFor="let assetValue of assetsTotalValue | keyvalue">
                {{assetTypeLabels[assetValue.key]}}:
                <span [ngClass]="{'negative':assetValue.value < 0}">
                  {{assetValue.value | currency:this.baseCurrency}}
                </span>
              </li>
            </ul>

            <div *ngIf="liabilitiesValue">
              Loan to assets value: {{currentDebtRatio | percent:'1.0-2'}}
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Goals]">
        <mat-card class="grid-card">
          <mat-card-title>Goals</mat-card-title>

          <mat-card-content>
            <canvas baseChart width="150" [datasets]="goals" [labels]="goalChartLabels" [options]="goalChartOptions"
              chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.PortfolioHistory]">
        <mat-card class="grid-card">
          <mat-card-title fxLayout="row">
            <span fxFlex>Portfolio History</span>

            <button mat-button [matMenuTriggerFor]="timeFramePicker" matTooltip="Time Frame">
              {{phTimeFrame}}<mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #timeFramePicker="matMenu">
              <button mat-menu-item (click)="onPHTimeFrameChanged('Max')">Max</button>
              <button mat-menu-item (click)="onPHTimeFrameChanged('YTD')">YTD</button>
              <button mat-menu-item (click)="onPHTimeFrameChanged('1Y')">1Y</button>
              <button mat-menu-item (click)="onPHTimeFrameChanged('5Y')">5Y</button>
              <button mat-menu-item (click)="onPHTimeFrameChanged('10Y')">10Y</button>
            </mat-menu>

            <button type="button" mat-icon-button (click)="addPortfolioHistory()"
              matTooltip="Manually add history data">
              <mat-icon aria-label="Manually add history data">add_circle_outline</mat-icon>
            </button>
          </mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas *ngIf="portfolioHistoryChart.data.length > 0" baseChart [datasets]="portfolioHistoryChart.data"
              [labels]="portfolioHistoryChart.labels" [options]="portfolioHistoryChartOptions"
              chartType="line"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.UnrealizedPLHistory]">
        <mat-card class="grid-card">
          <mat-card-title fxLayout="row">
            <span fxFlex>Unrealized P/L History</span>

            <button mat-button [matMenuTriggerFor]="uphTimeFramePicker" matTooltip="Time Frame">
              {{plhTimeFrame}}<mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #uphTimeFramePicker="matMenu">
              <button mat-menu-item (click)="onPLHTimeFrameChanged('Max')">Max</button>
              <button mat-menu-item (click)="onPLHTimeFrameChanged('YTD')">YTD</button>
              <button mat-menu-item (click)="onPLHTimeFrameChanged('1Y')">1Y</button>
              <button mat-menu-item (click)="onPLHTimeFrameChanged('5Y')">5Y</button>
              <button mat-menu-item (click)="onPLHTimeFrameChanged('10Y')">10Y</button>
            </mat-menu>

            <button type="button" mat-icon-button (click)="addUnrealizedPLHistory()"
              matTooltip="Manually add history data">
              <mat-icon aria-label="Manually add history data">add_circle_outline</mat-icon>
            </button>
          </mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas *ngIf="unrealizedPLHistoryChart.data.length > 0" baseChart
              [datasets]="unrealizedPLHistoryChart.data" [labels]="unrealizedPLHistoryChart.labels"
              [options]="portfolioHistoryChartOptions" chartType="line"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.PortfolioAllocation] && assetAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Portfolio Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="assetAllocationChart.data" [labels]="assetAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CurrencyAllocation] && currencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Currency Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="currencyAllocationChart.data" [labels]="currencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.StocksGeoAllocation] && stockGeoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Stocks Geo Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="stockGeoAllocationChart.data" [labels]="stockGeoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="gridVisibility[GridTiles.StockCurrencyAllocation] && stockCurrencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Stock Currency Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="stockCurrencyAllocationChart.data" [labels]="stockCurrencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.BondsGeoAllocation] && bondGeoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Bonds Geo Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="bondGeoAllocationChart.data" [labels]="bondGeoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="gridVisibility[GridTiles.BondCurrencyAllocation] && bondCurrencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Bond Currency Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="bondCurrencyAllocationChart.data" [labels]="bondCurrencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CommodityAllocation] && commodityAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Commodity Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="commodityAllocationChart.data" [labels]="commodityAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CryptoAllocation] && cryptoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Cryptocurrency Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="cryptoAllocationChart.data" [labels]="cryptoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.P2PGeoAllocation] && p2pGeoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>P2P Geo Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="p2pGeoAllocationChart.data" [labels]="p2pGeoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="gridVisibility[GridTiles.P2PCurrencyAllocation] && p2pCurrencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>P2P Currency Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="p2pCurrencyAllocationChart.data" [labels]="p2pCurrencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CashAllocation] && cashAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Cash Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="cashAllocationChart.data" [labels]="cashAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.DebtAllocation] && debtAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Debt Allocation</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="debtAllocationChart.data" [labels]="debtAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Rebalancing]">
        <mat-card class="grid-card">
          <mat-card-title>Rebalancing</mat-card-title>
          <mat-card-content>
            <p *ngIf="!rebalancingSetup" class="negative">
              You need to configure your desired portfolio allocation first! (see Settings page)
            </p>

            <p class="positive" *ngIf="rebalancingSetup && (rebalancingSteps.length === 0)">No rebalancing needed!</p>

            <ol *ngIf="rebalancingSetup">
              <li *ngFor="let step of rebalancingSteps">
                <span *ngIf="step.percentage < 0" class="negative">Sell {{step.value * -1 |
                currency:this.baseCurrency}} ({{ step.percentage | percent:'1.0-2'}}) of {{step.assetName}} </span>
                <span *ngIf="step.percentage > 0" class="positive">Buy {{step.value | currency:this.baseCurrency}} of
                  {{step.assetName}} </span>
              </li>
            </ol>

            <ng-container *ngIf="currentDebtRatio > 0 || portfolioConfig.loanToValueRatio > 0">
              <h3>Debt adjustment</h3>
              <span class="positive" *ngIf="debtToAcquire > 0">
                You are underleveraged. You can get into {{ debtToAcquire | currency:this.baseCurrency}} additional debt
              </span>

              <span class="negative" *ngIf="debtToAcquire < 0">
                You are overleveraged. Pay {{ debtToAcquire * - 1 | currency:this.baseCurrency}} of your debt.
              </span>

              <span *ngIf="debtToAcquire === 0">
                Your debt to value ratio is spot on!
              </span>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</ng-container>

<div *ngIf="!dataLoaded" class="page-content" fxLayoutAlign="center center" fxLayout="column">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>