<ng-container *ngIf="dataLoaded">
  <app-top-toolbar pageTitle="Dashboard">
    <div>
      <app-refresh-quotes-button></app-refresh-quotes-button>
      <app-notifications-button></app-notifications-button>
      <button type="button" aria-label="Display settings" mat-icon-button matTooltip="Display settings"
        (click)="changeDisplaySettings()">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </app-top-toolbar>
  <div class="page-content">
    <mat-grid-list [responsiveCols]="{xs: 1, sm: 1, md: 2, lg: 2, xl: 2}" (colsChanged)="gridColsChanged()"
      rowHeight="2:1.6">
      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Stats]">
        <mat-card class="grid-card">
          <mat-card-title>Stats</mat-card-title>
          <mat-card-content>
            <div>Portfolio value: {{ portfolioValue | currency:baseCurrency}} </div>
            <div>
              <span matTooltip="Based on Yearly Withdrawal Rate">Monthly spending limit:
                {{ monthlySpendLimit | currency:baseCurrency}}</span>
            </div>
            <div>Allocation: </div>
            <ul class="allocation-list">
              <li *ngFor="let assetValue of assetsTotalValue | keyvalue">
                {{assetTypeLabels[assetValue.key]}}: {{assetValue.value | currency:this.baseCurrency}}
              </li>
            </ul>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Goals]">
        <mat-card class="grid-card">
          <mat-card-title>Goals</mat-card-title>
          <mat-card-content>
            <canvas baseChart width="150" [datasets]="goals" [labels]="goalChartLabels" [options]="goalChartOptions"
              chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.PortfolioHistory]">
        <mat-card class="grid-card">
          <mat-card-title fxLayout="row">
            <span fxFlex>Portfolio History</span>
            <button mat-button [matMenuTriggerFor]="timeFramePicker" matTooltip="Time Frame">
              {{phTimeFrame}}<mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #timeFramePicker="matMenu">
              <button mat-menu-item (click)="onPhTimeFrameChanged('Max')">Max</button>
              <button mat-menu-item (click)="onPhTimeFrameChanged('YTD')">YTD</button>
              <button mat-menu-item (click)="onPhTimeFrameChanged('1Y')">1Y</button>
              <button mat-menu-item (click)="onPhTimeFrameChanged('5Y')">5Y</button>
              <button mat-menu-item (click)="onPhTimeFrameChanged('10Y')">10Y</button>
            </mat-menu>
            <button type="button" mat-icon-button (click)="addPortfolioHistory()"
              matTooltip="Manually add history data">
              <mat-icon aria-label="Manually add history data">add_circle_outline</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas *ngIf="portfolioHistoryChart.data.length > 0" baseChart [datasets]="portfolioHistoryChart.data"
              [labels]="portfolioHistoryChart.labels" [options]="portfolioHistoryChartOptions"
              chartType="line"></canvas>
          </mat-card-content>
        </mat-card>

      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.PortfolioAllocation] && assetAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Portfolio Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="assetAllocationChart.data" [labels]="assetAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CurrencyAllocation] && currencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Currency Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="currencyAllocationChart.data" [labels]="currencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.StocksGeoAllocation] && stockGeoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Stocks Geo Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="stockGeoAllocationChart.data" [labels]="stockGeoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.BondsGeoAllocation] && bondGeoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Bonds Geo Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="bondGeoAllocationChart.data" [labels]="bondGeoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CommodityAllocation] && commodityAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Commodity Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="commodityAllocationChart.data" [labels]="commodityAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CryptoAllocation] && cryptoAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Cryptocurrency Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="cryptoAllocationChart.data" [labels]="cryptoAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="gridVisibility[GridTiles.StockCurrencyAllocation] && stockCurrencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Stock Currency Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="stockCurrencyAllocationChart.data" [labels]="stockCurrencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="gridVisibility[GridTiles.BondCurrencyAllocation] && bondCurrencyAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Bond Currency Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="bondCurrencyAllocationChart.data" [labels]="bondCurrencyAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.CashAllocation] && cashAllocationChart.data.length > 0">
        <mat-card class="grid-card">
          <mat-card-title>Cash Allocation</mat-card-title>
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFill class="grid-card-content">
            <canvas baseChart [data]="cashAllocationChart.data" [labels]="cashAllocationChart.labels"
              [options]="pieChartOptions" chartType="doughnut"></canvas>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="gridVisibility[GridTiles.Rebalancing]">
        <mat-card class="grid-card">
          <mat-card-title>Rebalancing</mat-card-title>
          <mat-card-content>
            <p *ngIf="!rebalancingSetup" class="negative">You need to configure your desired portfolio allocation
              first! (see Settings page)</p>
            <p class="positive" *ngIf="rebalancingSetup && (rebalancingSteps.length === 0)">No rebalancing needed!</p>
            <ol *ngIf="rebalancingSetup">
              <li *ngFor="let step of rebalancingSteps">
                <span *ngIf="step.percentage < 0" class="negative">Sell {{step.value * -1 |
                currency:this.baseCurrency}} ({{ step.percentage | percent:'1.0-2'}}) of {{step.assetName}} </span>
                <span *ngIf="step.percentage > 0" class="positive">Buy {{step.value | currency:this.baseCurrency}} of
                  {{step.assetName}} </span>
              </li>

            </ol>

          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</ng-container>

<div *ngIf="!dataLoaded" class="page-content" fxLayoutAlign="center center" fxLayout="column">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>