
.dashboard-card {
    width: 100%;
    margin: 10px;
    height: 100%;    
}


.grid-card {
    width: calc(100% - 64px);
    height: calc(100% - 64px);
}

.grid-card-content {
  padding-bottom: 76px;
}

.allocation-list {
  margin: 0px;
}
