<ng-container *ngIf="assetsLoaded">
  <app-top-toolbar pageTitle="{{account.description}}">
    <div>
      <button *ngIf="displayTxFilterButton" type="button" aria-label="Filter Transactions" mat-icon-button matTooltip="Filter Transactions"
        (click)="showFilterDialog()">
        <mat-icon>filter_list</mat-icon>
      </button>

      <app-notifications-button></app-notifications-button>

      <button type="button" aria-label="Actions" mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="actionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item (click)="editAccount()">Edit Account Name</button>
        <button mat-menu-item (click)="deleteAccount()">Delete Account</button>
      </mat-menu>
    </div>
  </app-top-toolbar>

  <div class="page-content">
    <mat-tab-group [swipeTabs]="{hasSideNav: true}" class="mat-tab-group-fill-height" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Overview">
        <div>
          <app-tradeable-asset-sum-card [title]="'Total'" [baseCurrency]="baseCurrency" [overview]="assetsOverview">
          </app-tradeable-asset-sum-card>

          <app-cash-balances-card *ngIf="cash.assets.length > 0" title="Cash" [balances]="cashBalances"
            [baseCurrency]="baseCurrency" [totalBalance]="cash.overview.currentValue"></app-cash-balances-card>

          <app-cash-balances-card *ngIf="deposits.assets.length > 0" title="Deposits" [balances]="depositBalances"
            [baseCurrency]="baseCurrency" [totalBalance]="deposits.overview.currentValue"></app-cash-balances-card>

          <app-tradeable-asset-sum-card [title]="'Money Market'" [baseCurrency]="baseCurrency"
            [overview]="mmAssets.overview" *ngIf="mmAssets.assets.length > 0"></app-tradeable-asset-sum-card>

          <app-cash-balances-card *ngIf="debt.assets.length > 0" title="Debt" [balances]="debtBalances"
            [baseCurrency]="baseCurrency" [totalBalance]="debt.overview.currentValue"></app-cash-balances-card>

          <app-tradeable-asset-sum-card [title]="'Bonds'" [baseCurrency]="baseCurrency" [overview]="bonds.overview"
            *ngIf="bonds.assets.length > 0"></app-tradeable-asset-sum-card>

          <app-tradeable-asset-sum-card [title]="'Commodities'" [baseCurrency]="baseCurrency"
            [overview]="commodities.overview" *ngIf="commodities.assets.length > 0"></app-tradeable-asset-sum-card>

          <app-tradeable-asset-sum-card [title]="'Cryptocurrencies'" [baseCurrency]="baseCurrency"
            [overview]="cryptocurrencies.overview" *ngIf="cryptocurrencies.assets.length > 0">
          </app-tradeable-asset-sum-card>

          <app-tradeable-asset-sum-card title="P2P Loans" [baseCurrency]="baseCurrency" [overview]="p2p.overview"
            *ngIf="p2p.assets.length > 0"></app-tradeable-asset-sum-card>

          <app-tradeable-asset-sum-card [title]="'Real Estate'" [baseCurrency]="baseCurrency"
            [overview]="realEstate.overview" *ngIf="realEstate.assets.length > 0"></app-tradeable-asset-sum-card>

          <app-tradeable-asset-sum-card [title]="'Stocks'" [baseCurrency]="baseCurrency" [overview]="stocks.overview"
            *ngIf="stocks.assets.length > 0"></app-tradeable-asset-sum-card>

          <div class="bottom-space"></div>

          <eco-fab-speed-dial class="fab-bottom-right">
            <eco-fab-speed-dial-trigger spin="true">
              <button mat-fab color="primary" matTooltip="Add Asset" aria-label="Add Asset">
                <mat-icon>add</mat-icon>
              </button>
            </eco-fab-speed-dial-trigger>

            <eco-fab-speed-dial-actions>
              <button mat-mini-fab color="primary" (click)="addCashAsset()">
                <mat-icon matTooltip="Add Cash Account" aria-label="Add Cash Account">local_atm</mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="addDeposit()">
                <mat-icon matTooltip="Create Deposit" aria-label="Create Deposit">access_time</mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="addDebt()">
                <mat-icon matTooltip="Create Debt" aria-label="Create Debt">credit_card</mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.Bond)">
                <mat-icon matTooltip="Buy Bond" aria-label="Buy Bond" svgIcon="certificate"></mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.Commodity)">
                <mat-icon matTooltip="Buy Commodity" aria-label="Buy Commodity" svgIcon="commodity"></mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.Cryptocurrency)">
                <mat-icon matTooltip="Buy Cryptocurrency" aria-label="Buy Cryptocurrency" svgIcon="bitcoin"></mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.Forex)">
                <mat-icon matTooltip="Open Forex Position" aria-label="Open Forex Position" svgIcon="forex"></mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.P2P)">
                <mat-icon matTooltip="Buy P2P Loan" aria-label="Buy P2P Loan">group</mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.RealEstate)">
                <mat-icon matTooltip="Buy Real Estate" aria-label="Buy Real Estate">home</mat-icon>
              </button>

              <button mat-mini-fab color="primary" (click)="buyAsset(AssetType.Stock)">
                <mat-icon matTooltip="Buy Stock/ETF" aria-label="Buy Stock/ETF">trending_up</mat-icon>
              </button>
            </eco-fab-speed-dial-actions>
          </eco-fab-speed-dial>
        </div>
      </mat-tab>

      <mat-tab label="Transactions" #transactionsTab>
        <ng-template matTabContent>
          <app-transactions-list #transactionsList [transactions]="transactions" [baseCurrency]="baseCurrency"
            [dataLoaded]="transactionsLoaded">
          </app-transactions-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Cash" *ngIf="cash.assets.length > 0">
        <app-cash-asset-list [assets]="cash.assets" [multiAccount]="false"></app-cash-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Add Cash Account" aria-label="Add Cash Account"
            (click)="addCashAsset()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Deposits" *ngIf="deposits.assets.length > 0">
        <app-cash-asset-list [assets]="deposits.assets" [multiAccount]="false"></app-cash-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Create Deposit" aria-label="Create Deposit"
            (click)="addDeposit()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Money Market" *ngIf="mmAssets.assets.length > 0">
        <app-tradeable-asset-list [assets]="mmAssets.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Money Market Fund" aria-label="Buy Money Market Fund"
            (click)="buyAsset(AssetType.Stock)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Debt" *ngIf="debt.assets.length > 0">
        <app-cash-asset-list [assets]="debt.assets" [multiAccount]="false"></app-cash-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Create Debt" aria-label="Create Debt" (click)="addDebt()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Bonds & Bond ETFs" *ngIf="bonds.assets.length > 0">
        <app-tradeable-asset-list [assets]="bonds.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Bond" aria-label="Buy Bond"
            (click)="buyAsset(AssetType.Bond)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Commodities" *ngIf="commodities.assets.length > 0">
        <app-tradeable-asset-list [assets]="commodities.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Commodity" aria-label="Buy Commodity"
            (click)="buyAsset(AssetType.Commodity)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Cryptocurrencies" *ngIf="cryptocurrencies.assets.length > 0">
        <app-tradeable-asset-list [assets]="cryptocurrencies.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Cryptocurrency" aria-label="Buy Cryptocurrency"
            (click)="buyAsset(AssetType.Cryptocurrency)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="P2P Loans" *ngIf="p2p.assets.length > 0">
        <app-tradeable-asset-list [assets]="p2p.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy P2P Loan" aria-label="Buy P2P Loan"
            (click)="buyAsset(AssetType.P2P)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Real Estate" *ngIf="realEstate.assets.length > 0">
        <app-tradeable-asset-list [assets]="realEstate.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Real Estate" aria-label="Buy Real Estate"
            (click)="buyAsset(AssetType.RealEstate)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Stocks" *ngIf="stocks.assets.length > 0">
        <app-tradeable-asset-list [assets]="stocks.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Buy Stock/ETF" aria-label="Buy Stock/ETF"
            (click)="buyAsset(AssetType.Stock)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Forex" *ngIf="forex.assets.length > 0">
        <app-tradeable-asset-list [assets]="forex.assets"></app-tradeable-asset-list>

        <div class="bottom-space"></div>

        <div class="fab-bottom-right">
          <button mat-fab color="primary" matTooltip="Open Forex Position" aria-label="Open Forex Position"
            (click)="buyAsset(AssetType.Forex)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</ng-container>

<div *ngIf="!assetsLoaded" class="page-content" fxLayoutAlign="center center" fxLayout="column">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>