<mat-list-item class="list-item"
  [ngClass]="{'positive':isCredit && !recTx.inactive, 'negative':isDebit && !recTx.inactive}" (click)="view()">
  <ng-container *ngIf="recTx.id">
    <button type="button" aria-label="Actions" mat-icon-button [matMenuTriggerFor]="menu" (click)="onItemMenu($event)"
      matTooltip="Actions">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit()">Edit</button>
      <button mat-menu-item (click)="delete()">Delete</button>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!recTx.id">
    <div class="mat-icon-button"></div>
  </ng-container>
  

  <mat-icon mat-list-icon color="{{recTx.inactive? 'warn':''}}">{{txIcon}}</mat-icon>

  <h6 mat-line>
    <span fxFlex>{{recTx.tx.description}}</span>
  </h6>

  <p mat-line>
    <span class="truncate-overflow" fxFlex>
      <ng-container *ngIf="recTx.tx.type !== TransactionType.Transfer">
        {{recTx.tx.asset.accountDescription}}
      </ng-container>
      <ng-container *ngIf="recTx.tx.type === TransactionType.Transfer">
        {{recTx.tx.asset.description}}
        ({{recTx.tx.asset.accountDescription }}) &gt;
        {{recTx.tx.otherAsset.description}} ({{recTx.tx.otherAsset.accountDescription }})
      </ng-container>
    </span>
    <span>
      <ng-container *ngIf="recTx.tx.type !== TransactionType.Exchange">
        {{(isDebit? '-':'') + recTx.tx.value | currency:recTx.tx.asset.currency}}
      </ng-container>
      <ng-container *ngIf="recTx.tx.type === TransactionType.Exchange">
        {{recTx.tx.value | currency:recTx.tx.asset.currency}} > {{recTx.tx.value*recTx.tx.rate |
        currency:recTx.tx.otherAsset.currency }}
      </ng-container>
    </span>
  </p>

  <p mat-line>
    <span class="truncate-overflow" fxFlex>
      {{recTx.tx.date | formatDate}}
      <ng-container *ngIf="recTx.type !== RecurringTransactionType.Never">,
        Repeats {{txOccurrence}}
      </ng-container>
    </span>
    <span *ngIf="recTx.tx.fee">Fee: {{ recTx.tx.fee | currency:recTx.tx.asset.currency}}</span>
  </p>

</mat-list-item>