@import 'src/app/theme_colors.scss';

.list-item {
  max-width: 100%;

}

.positive {
  color: $app-positive;
}

.negative {
  color: $app-negative;
}

.truncate-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6px;
}