
$app-positive: rgb(8, 90, 8);
$app-negative: rgb(226, 85, 151);
$app-neutral: rgb(0,0,0);
$app-warning: rgb(240, 170, 65);
$app-info: rgb(15, 130, 207);
$app-table-header: #039be5; //mat-color($app-primary, 600);
$app-table-header-background: rgba(212, 223, 230, 0.321);
$app-error-background: rgb(160, 25, 25);
$app-info-background: rgb(62, 116, 13);
$app-info-action: rgb(241, 235, 142);
$app-link-color: rgb(233, 109, 130);
$app-link-active-color: $app-link-color;
$app-link-hover-color:rgb(110, 7, 24);
$app-selected-background: #e1f5fe; //mat-color($app-primary, 50);
$app-hover-background: #B3E5FC; //mat-color($app-primary, 100);
$app-background-color: #fafafa; //map-get(map-get($app-theme, 'background'),'background');
