<mat-card class="card">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <div class="mat-subheading-2">
      <span fxFlex>Current Value</span>
      <span [ngClass]="{'negative':overview.currentValue < 0}">{{overview.currentValue | currency:baseCurrency}}</span>
    </div>
    <div class="mat-subheading-2">
      <span fxFlex>Unrealized P/L</span>
      <span [ngClass]="(overview.profitLoss < 0)? 'negative':'positive'">{{overview.profitLoss |
        currency:baseCurrency }} ({{overview.profitLossPercent | percent:'1.0-2' }})</span>
    </div>

  </mat-card-content>
</mat-card>