@import 'src/app/theme_colors.scss';


mat-nav-list {
  padding-top: 0px !important;
}

.list-viewport {
  height: calc(100% - 40px);
}

.transactions-list {
  height: 100%;

}

.full-height {
  height: 100%;
}

