<ng-container *ngIf="dataLoaded">
  <div fxLayout="column" class="full-height">
    <div *ngIf="transactions.length == 0" fxLayout="row" fxLayoutAlign="center center">
      <div class="text-content">There are no transactions to display.</div>
    </div>

    <mat-nav-list dense class="transactions-list">
      <div mat-subheader fxLayout="row">
        <div>Debit: {{ totalDebit | currency:baseCurrency }}</div>
        <div fxFlex></div>
        <div>Credit: {{ totalCredit | currency:baseCurrency }}</div>
      </div>
      
      <cdk-virtual-scroll-viewport itemSize="76" class="list-viewport" #viewport>
        <app-transactions-list-item *cdkVirtualFor="let tx of transactions; trackBy: txIdTrackFn" [transaction]="tx"
          [selected]="txSelectionStates[tx.id]" (selectStateChange)="itemSelectStateChanged($event, tx)">
        </app-transactions-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-nav-list>

    <mat-toolbar *ngIf="selectionCount > 0">
      <span fxFlex>{{selectionCount}} selected</span>
      <button type="button" aria-label="Check All" mat-button color="primary" (click)="toggleCheckTransactions()">
        <mat-icon>
          {{ selectionCount === transactions.length? 'check_box': 'check_box_outline_blank'}}
        </mat-icon>
        Check All
      </button>

      <button type="button" aria-label="Delete Transactions" mat-icon-button color="primary" matTooltip="Delete Transactions"
        (click)="deleteSelectedTransactions()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>

  </div>
</ng-container>
<div *ngIf="!dataLoaded" fxLayoutAlign="center center" fxLayout="column">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>