<h2 mat-dialog-title>
  {{tx.description}}
</h2>
<mat-dialog-content>

  <div fxLayout="column" fxLayoutGap="8px">
    <ng-container *ngIf="recTx.tx.date">
      <div>
        <span fxFlex>Next Transaction Date: </span>
        <span>{{recTx.tx.date | formatDate}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="recTx.type !== RecurringTransactionType.Never">
      <div>
        <span fxFlex>Occurrence: </span>
        <span>{{txOccurrence}}</span>
      </div>
      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="recTx.type !== RecurringTransactionType.AfterGivenDays">
      <div>
        <span fxFlex>Transactions left: </span>
        <span>{{recTx.transactionsLeft < 0?  'no limit':recTx.transactionsLeft}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <div>
      <span fxFlex>Auto approve transaction: </span>
      <span>{{recTx.autoApprove? 'yes':'no'}}</span>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngIf="exchangeTx">
      <div>
        <span fxFlex>Debited from {{tx.asset.description}} ({{tx.asset.accountDescription}}): </span>
        <span class="negative">
          {{tx.value | currency:tx.asset.currency}}
        </span>
      </div>

      <mat-divider></mat-divider>

      <div>
        <span fxFlex>Credited to {{tx.otherAsset.description}}: </span>
        <span class="positive">
          {{tx.value*tx.rate | currency:tx.otherAsset.currency }}
        </span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="!exchangeTx">
      <div>
        <span fxFlex>Value: </span>
        <span [ngClass]="{'positive': isCredit, 'negative': isDebit}">
          {{(isDebit? '-':'') + tx.value | currency:tx.asset.currency}}
        </span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="tx.fee">
      <div>
        <span fxFlex>Fee: </span>
        <span>{{tx.fee | currency:tx.asset.currency}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="!exchangeTx">
      <ng-container *ngIf="!tradeTx">
        <div>
          <span fxFlex>{{isCredit? 'Destination':'Source'}}: </span>
          <span>{{tx.asset.description}} ({{tx.asset.accountDescription}})</span>
        </div>

        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngIf="twoWayTx">
        <div>
          <span fxFlex>{{tradeTx? 'Cash account':'Destination'}}: </span>
          <span>{{tx.otherAsset.description}}
            ({{tx.otherAsset.accountDescription? tx.otherAsset.accountDescription:tx.asset.accountDescription }})</span>
        </div>

        <mat-divider></mat-divider>
      </ng-container>

    </ng-container>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="recTx.id" mat-button mat-dialog-close="edit">Edit</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>