<ng-container *ngIf="assetsLoaded">
  <app-top-toolbar pageTitle="{{pageTitle}}">
    <div>
      <app-refresh-quotes-button></app-refresh-quotes-button>
      <app-notifications-button></app-notifications-button>
    </div>
  </app-top-toolbar>


  <div class="page-content">
    <ng-container *ngIf="viewAssets.length > 0">
      <mat-tab-group [swipeTabs]="{hasSideNav: true}" class="mat-tab-group-fill-height">
        <mat-tab label="Overview">

          <mat-card class="card" *ngIf="assetsOverview.initialValue > 0">

            <div class="mat-subheading-2">
              <span fxFlex>Assets Value</span>
              <span>{{assetsOverview.currentValue | currency:baseCurrency}}</span>
            </div>
            <div class="mat-subheading-2">
              <span fxFlex>Portfolio Allocation Percentage</span>
              <span>{{assetsOverview.currentValue / totalAssetsValue | percent:'1.0-2'}}</span>
            </div>
            <div class="mat-subheading-2">
              <span fxFlex>Cost</span>
              <span>{{assetsOverview.initialValue | currency:baseCurrency}}</span>
            </div>
            <div class="mat-subheading-2">
              <span fxFlex>Unrealized P/L</span>
              <span [ngClass]="(assetsOverview.profitLoss < 0)? 'negative':'positive'">{{assetsOverview.profitLoss
                | currency:baseCurrency }}
                ({{assetsOverview.profitLossPercent | percent:'1.0-2' }})</span>
            </div>

          </mat-card>
        </mat-tab>

        <mat-tab label="Assets">
          <app-tradeable-asset-list [assets]="viewAssets" [dataLoaded]="assetsLoaded"></app-tradeable-asset-list>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <div *ngIf="viewAssets.length == 0" fxLayoutAlign="center center">
      <div class="text-content">There are no records of these assets yet.</div>
    </div>
  </div>
</ng-container>
<div *ngIf="!assetsLoaded" class="page-content" fxLayoutAlign="center center" fxLayout="column">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>