<app-top-toolbar pageTitle="Scheduled Transactions">
  <app-notifications-button></app-notifications-button>

  <button type="button" aria-label="Actions" mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="actionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item (click)="toggleBondAndDepositTxs()">
      <mat-icon>{{portfolioConfig?.hideBondAndDepositsRecurringTxs? '':'check'}}</mat-icon>
      Bond & Deposit Transactions
    </button>
  </mat-menu>
</app-top-toolbar>

<div class="page-content">
  <app-recurring-transactions-list [transactions]="transactions" [dataLoaded]="transactionsLoaded">
  </app-recurring-transactions-list>
</div>