<form [formGroup]="assetForm">
  <app-edit-dialog [form]="assetForm" title="Interest from {{asset.description}}" (close)="dialogClosed($event)">
    <div class="text-content" fxLayout="column">
      <mat-form-field>
        <mat-select placeholder="Cash account" formControlName="cashAsset" required>
          <mat-option *ngFor="let asset of cashAssets" [value]="asset">
            {{asset.description}} ({{asset.amount | currency:asset.currency}})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Gross value" formControlName="amount" required>
        <span matPrefix>{{ assetCurrency | currencySymbol }}</span>
        <mat-error *ngIf="amount.errors?.min">Amount must be greater than 0</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Fee" formControlName="fee">
        <span matPrefix>{{ assetCurrency | currencySymbol }}</span>
        <mat-error>Fee must be positive</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="withholdTax">Withold tax</mat-checkbox>
      <mat-form-field *ngIf="withholdTax.value">
        <input matInput type="number" placeholder="Tax rate" formControlName="taxRate">
        <span matSuffix>%</span>
        <mat-error>Value must be a number between 0 and 100</mat-error>
      </mat-form-field>

      <mat-checkbox *ngIf="!tx.id" formControlName="updateCashAssetBalance">
        Automatically credit cash account with {{(amount.value *
      (withholdTax.value? (100 - taxRate.value) / 100 : 1)  - fee.value) | currency: assetCurrency}}
      </mat-checkbox>


      <mat-form-field>
        <input matInput [matDatepicker]="datepicker" required placeholder="Transaction Date"
          formControlName="transactionDate"  (dateInput)="onTxDateChanged()">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-hint *ngIf="isScheduledTx">Transaction will be scheduled</mat-hint>
      </mat-form-field>
    </div>
  </app-edit-dialog>
</form>