<h2 mat-dialog-title>
  <span>{{viewAsset.asset.description}}</span>
  <button mat-icon-button>
    <mat-icon aria-label="Copy to clipboard" (click)="copyToClipboard(viewAsset.asset.description)" color="primary"
      matTooltip="Copy to clipboard">file_copy</mat-icon>
  </button>
</h2>
<mat-dialog-content>

  <div fxLayout="column" fxLayoutGap="8px">
    <ng-container *ngIf="hasAmount">
      <div>
        <span fxFlex>Assets bought:</span>
        <span>{{viewAsset.position.amount | number}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="bondAsset">
      <div>
        <span fxFlex>Coupon rate: </span>
        <span>{{bondAsset.couponRate | percent:'1.0-2'}}</span>
      </div>

      <mat-divider></mat-divider>

      <div>
        <span fxFlex>Yield to Maturity: </span>
        <span>{{bondAsset.ytm | percent:'1.0-2'}}</span>
      </div>

      <mat-divider></mat-divider>      

      <div>
        <span fxFlex>Principal amount: </span>
        <span>{{bondAsset.principalAmount | currency:bondAsset.currency}}</span>
      </div>

      <mat-divider></mat-divider>

      <div>
        <span fxFlex>Maturity: </span>
        <span>{{bondAsset.maturityDate | formatDate}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="hasAmount">
      <div>
        <span fxFlex>Buy Price:</span>
        <span>{{viewAsset.position.grossBuyPrice | currency:viewAsset.asset.currency}}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <div>
      <span fxFlex>Cost:</span>
      <span>{{viewAsset.initialValue | currency:viewAsset.asset.currency}}</span>
    </div>

    <mat-divider></mat-divider>

    <div>
      <span fxFlex>Buy Date:</span>
      <span>{{ viewAsset.position.buyDate | formatDate }}</span>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngIf="hasAmount">
      <div>
        <span fxFlex>Current price (last updated
          {{ (tradeableAsset.lastQuoteUpdate | formatDate) || 'never' }}):&nbsp;</span>
        <span>{{tradeableAsset.currentPrice | currency:viewAsset.asset.currency }}</span>
      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <div>
      <span fxFlex>Current value: </span>
      <span>{{viewAsset.currentValue | currency:viewAsset.asset.currency }}</span>
    </div>

    <mat-divider></mat-divider>

    <div>
      <span fxFlex>Unrealized P/L: </span>
      <span [ngClass]="(viewAsset.profitLoss<0)? 'negative':'positive'">{{viewAsset.profitLoss |
        currency:viewAsset.asset.currency}}
        ({{viewAsset.profitLossPercent | percent:'1.0-2'}})</span>
    </div>

    <mat-divider></mat-divider>

    <div>
      <span fxFlex matTooltip="Including realized gains and dividends">Total return: </span>
      <span [ngClass]="(totalPL<0)? 'negative':'positive'">{{totalPL |
        currency:viewAsset.asset.currency}}
        ({{totalPLPercent | percent:'1.0-2'}})</span>
    </div>

    <mat-divider></mat-divider>

    <div>
      <span fxFlex>Asset Region: </span>
      <span>{{tradeableAsset.getRegionString()}}</span>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="edit">Edit</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>