@import '../../../../theme_colors.scss';

.unread {
  background-color: $app-selected-background;
  font-weight: bold;
}

.close-icon {
  margin: 0px !important;
  font-size: 16px !important;
}

.mat-menu-item {
  padding: 0px 0px 0px 16px !important;
  height: auto !important;
}

.notification-title {
  text-overflow: ellipsis;
  overflow: hidden;
}